body {
	margin-left: 5%;
	margin-right: 5%;
}

#balls-canvas {
	width: 100%;
	height: 80vh;
	padding: 0;
	margin: auto;
	display: block;
	border: 1px solid black;
}

#settings {
	margin-top: 10px;
	display: flex;
    flex-direction: column;
}

#settings > div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 10px;
}

#settings span {
	padding-right: 5px;
}

#settings input[type=number] {
	width: 50px;
}

#settings-amount {
	justify-content: space-between;
}

#amount-slider {
	flex: 1;
	margin-left: 20px;
	margin-right: 20px;
}