body {
	margin-left: 5%;
	margin-right: 5%;
}

#balls-canvas {
	padding: 0;
	margin: auto;
	display: block;
	border: 1px solid black;
}

#settings {
	margin-top: 10px;
	display: flex;
    flex-direction: column;
}

#settings-mode {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#settings-amount {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#balls-slider {
	flex: 1;
}